body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #86b5a2;
    background-image: url("https://transparenttextures.com/patterns/concrete-wall-2.png");
}

button {
    width: 50px;
    height: 50px;
    background-color: white;
}
button:hover {
    background-color: gray;
}
#calculator-div {
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#calc-top-row-div {
    margin: -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#calculator-screen {
    background-color: white;
    width: 142px;
    height: 35px;
    margin-left: 5px;
    border: 1px solid black;
    padding: 3px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#clear-btn {
    width: 50px;
    height: 43px;
    margin: 5px;
    margin-left: 0px;
}

#zero-btn {
    width: 100px;
}

#equals-btn-two {
    width: 200px;
}

#clear-history-btn {
    width: 150px;
    height: 23px;
}

ul#calculation-history-list {
    width: 250px;
    background-color: whitesmoke;
    border: 2px solid black;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}